<h1>Jose's Contacts List:</h1><br/>

<% @contacts.each do |contact| %>

  <h2>First name: <%= contact.first_name %></h2>
  <h2>Last name: <%= contact.last_name %></h2>
  <h3>Email: <%= contact.email %></h3>
  <h3>Phone Number: <%= contact.phone_number %></h3>
  <a href="/contacts/<%= contact.id %>">Go to <%= contact.first_name %> information</a>
  <%= form_tag "/contacts/#{contact.id}/edit", method: :get do %>
    <input type="submit" value="Edit Contact">
    <% end %>
  <%= form_tag "/contacts/#{contact.id}", method: :delete do %>
    <input type="submit" value="Delete Contact">
  <% end %>
  <br/>
  <br/>
<% end %> 